<section class="section section-lg pt-0">
    <div class="container">
        <!-- Title -->
        <div class="row">
            <div class="col text-center">
                <h2 class="h5 mb-7">Profile Cards</h2>
            </div>
        </div>
        <!-- End of title-->
        <div class="row justify-content-between">
            <div class="col-12 col-md-6 col-lg-4 mb-6 mb-md-5">
                <!-- Profile Card -->
                <div class="profile-card mb-5">
                    <div class="card bg-primary shadow-inset border-light text-center">
                        <div class="card-header">
                            <div class="profile-image bg-primary shadow-inset border border-light rounded mx-auto p-3 mt-n6">
                                <img src="@@path/assets/img/team/profile-picture-4.jpg" class="card-img-top rounded" alt="Leos Portrait">
                            </div>
                        </div>
                        <div class="card-body pb-5">
                            <h3 class="h5 mb-2">Jose Leos</h3>
                            <span class="h6 font-weight-normal text-gray mb-3">Co-Founder</span>
                            <ul class="list-unstyled d-flex justify-content-center mt-3 mb-4">
                                <li>
                                    <a href="#" target="_blank" aria-label="facebook social link" class="icon icon-xs icon-facebook mr-3">
                                        <span class="fab fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="twitter social link" class="icon icon-xs icon-twitter mr-3">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="slack social link" class="icon icon-xs icon-slack mr-3">
                                        <span class="fab fa-slack-hash"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="dribbble social link" class="icon icon-xs icon-dribbble mr-3">
                                        <span class="fab fa-dribbble"></span>
                                    </a>
                                </li>
                            </ul>
                            <a class="btn btn-sm btn-primary mr-3" href="#">
                                <span class="fas fa-user-plus mr-1"></span> Follow
                            </a>
                            <a class="btn btn-sm btn-primary" href="#">
                                Message
                            </a>                                
                        </div>
                    </div>
                </div>
                <!-- End of Profile Card -->
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-6 mb-md-5">
                <!-- Profile Card -->
                <div class="profile-card mb-5">
                    <div class="card bg-primary shadow-soft border-light">
                        <div class="profile-image bg-primary shadow-inset border border-light rounded p-3 ml-3 mt-n5">
                            <img src="@@path/assets/img/team/profile-picture-3.jpg" class="card-img-top rounded" alt="Bonnie Avatar">
                        </div>
                        <div class="card-body">
                            <h3 class="h5 mb-2">Bonnie Green</h3>
                            <span class="h6 font-weight-normal text-gray mb-3">Web Designer</span>
                            <ul class="list-unstyled d-flex my-3">
                                <li>
                                    <a href="#" target="_blank" aria-label="facebook social link" class="icon icon-xs icon-facebook mr-3">
                                        <span class="fab fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="twitter social link" class="icon icon-xs icon-twitter mr-3">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="slack social link" class="icon icon-xs icon-slack mr-3">
                                        <span class="fab fa-slack-hash"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="dribbble social link" class="icon icon-xs icon-dribbble mr-3">
                                        <span class="fab fa-dribbble"></span>
                                    </a>
                                </li>
                            </ul>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <!-- End of Profile Card -->
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-5">
                <!-- Profile Card -->
                <div class="profile-card mb-5">
                    <div class="card bg-primary shadow-soft border-light">
                        <div class="profile-image bg-primary shadow-inset border border-light rounded-circle p-3 ml-3 mt-n5">
                            <img src="@@path/assets/img/team/profile-picture-1.jpg" class="card-img-top rounded-circle" alt="Christopher Avatar">
                        </div>
                        <div class="card-body">
                            <h3 class="h5 mb-2">Christopher Wood</h3>
                            <span class="h6 font-weight-normal text-gray mb-3">Marketing</span>
                            <ul class="list-unstyled d-flex my-3">
                                <li>
                                    <a href="#" target="_blank" aria-label="facebook social link" class="icon icon-xs icon-facebook mr-3">
                                        <span class="fab fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="twitter social link" class="icon icon-xs icon-twitter mr-3">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="slack social link" class="icon icon-xs icon-slack mr-3">
                                        <span class="fab fa-slack-hash"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="dribbble social link" class="icon icon-xs icon-dribbble mr-3">
                                        <span class="fab fa-dribbble"></span>
                                    </a>
                                </li>
                            </ul>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <!-- End of Profile Card -->
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-md-0">
                <!-- Profile Card -->
                <div class="card bg-primary shadow-soft border-light">
                    <div class="card-header p-4">
                        <img src="@@path/assets/img/team/profile-picture-4.jpg" class="card-img-top rounded" alt="Wood Portrait">
                    </div>
                    <div class="card-body pt-2">
                        <h3 class="h5 mb-2">Christopher Wood</h3>
                        <span class="h6 font-weight-normal text-gray mb-4">Co-Founder Themesberg</span>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <ul class="list-unstyled d-flex my-3">
                            <li>
                                <a href="#" target="_blank" aria-label="facebook social link" class="icon icon-xs icon-facebook mr-3">
                                    <span class="fab fa-facebook-f"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="twitter social link" class="icon icon-xs icon-twitter mr-3">
                                    <span class="fab fa-twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="slack social link" class="icon icon-xs icon-slack mr-3">
                                    <span class="fab fa-slack-hash"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="dribbble social link" class="icon icon-xs icon-dribbble mr-3">
                                    <span class="fab fa-dribbble"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End of Profile Card -->
            </div>
        </div>
    </div>
</section>