<footer class="d-flex pb-5 pt-6 pt-md-7 border-top border-light @@classes">
    <div class="container">
        <div class="text-center">
            <p><strong>PCL Labs</strong>⚡ powered by aurelox llc</p>
            <p>(423) 451-6118</p>
            <a href="https://github.com/whynotearth" target="_blank" class="btn btn-icon-only btn-pill btn-primary" aria-label="github social link" data-toggle="tooltip" data-placement="top" title="Open source projects">
                <span aria-hidden="true" class="fab fa-github"></span>
            </a>
        </div>
    </div>
</footer>
