<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->
<title>@@title</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="@@title">

<!--  Social tags -->
<meta name="description" content="PCL Labs / Aurelox. Marketing, web apps and data.">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Aurelox">
<meta itemprop="description" content="PCL Labs / Aurelox. Marketing, web apps and data.">
<meta itemprop="image" content="https://avatars.githubusercontent.com/u/41178775?s=200&v=4">

<!-- Twitter Card data -->
<meta name="twitter:card" content="product">
<meta name="twitter:title" content="Aurelox">
<meta name="twitter:description" content="PCL Labs / Aurelox. Marketing, web apps and data.">
<!-- <meta name="twitter:creator" content="@Aurelox"> -->
<meta name="twitter:image" content="https://avatars.githubusercontent.com/u/41178775?s=200&v=4">

<!-- Open Graph data -->
<meta property="fb:app_id" content="214738555737136">
<meta property="og:title" content="Aurelox" />
<meta property="og:type" content="article" />
<meta property="og:image" content="https://avatars.githubusercontent.com/u/41178775?s=200&v=4"/>
<meta property="og:description" content="PCL Labs / Aurelox. Marketing, web apps and data." />
<meta property="og:site_name" content="Aurelox" />

<!-- Favicon
<link rel="apple-touch-icon" sizes="120x120" href="@@path/assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="@@path/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="@@path/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="@@path/assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="@@path/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff"> -->

<!-- Fontawesome -->
<link type="text/css" href="@@path/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<!-- Pixel CSS -->
<link type="text/css" href="@@path/css/neumorphism.css" rel="stylesheet">

<!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
<!-- @@if (environment === 'production') {
    @@include('./_analytics.html')
} -->